body {
    background-color: rgb(20, 20, 20);
  }
  
  h1 {
    font-family: Arial;
    background: -webkit-linear-gradient(bottom right, rgb(253, 158, 248), rgb(36, 10, 133));
   -webkit-background-clip: text;
   color: rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 72px;
  }
  
  h2 {
    font-family: Arial;
    background: -webkit-linear-gradient(bottom right, rgb(253, 158, 248), rgb(36, 10, 133));
   -webkit-background-clip: text;
   color: rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 48px;
  }

  h6 {
    font-family: Arial;
   color: rgb(255, 255, 255);
    font-size: 11px;
  }


  
  p {   
    font-family: Arial;
    font-size: 20px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .fade{ 
    animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Style the header */
.header {
  padding: 1px 7px;
  background: rgb(34, 34, 34);
  color: #f1f1f1;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: sticky;
  top: 0;
  width: 99%
}