body {
    background-color: rgb(255, 255, 255);
  }
  
  h1 {
    font-family: Arial;
    background: -webkit-linear-gradient(rgb(253, 158, 248), rgb(36, 10, 133));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 72px;
  }
  
  p {   
    font-family: Arial;
    font-size: 20px;
  }