body {
    background-color: rgb(20, 20, 20);
  }
  
  h1 {
    font-family: Arial;
    background: -webkit-linear-gradient(to bottom right, rgb(212, 46, 17), rgb(103, 20, 211));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 72px;
  }
  
  p {   
    font-family: Arial;
    font-size: 20px;
  }